database:
  dsn: DBI:mysql:b4bot:localhost
  username: root
  password: ''
bots:
  - ninthbit:
    nick: b4bot_codeblock
    server: onyx.ninthbit.net
    channels: '#offtopic'
  - freenode:
    nick: b4bot_codeblock
    server: irc.freenode.net
    channels: '#fji2fA_test'
comchar: '!!'
